body {
    background-color:#F8F8F8;
}
    
    header{
            display: inline-block;
            width: 1000px;
            margin-left:calc( (100% - 1000px) / 2 );
            }
        header>img {
            float: left;
            /* jokio atsitraukimo tarpo */
            margin:0;
    
            }
        nav{
            display: inline-block;
            float: right;
            margin-top:20px;

            }
            a{
                display:inline-block;
                float:left;
                /* tarpeliai tarp zodziu */
                padding: 5px;
                padding-right: 20px;
                padding-left: 20px;
                margin-left:10px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #9E9E9E;
                font-size:18px;
                font-style:bold;
                /* kad nebutu pabraukimo */
                text-decoration:none;
                /* kad uzejus rankyte atsirastu */
                cursor: pointer;
                border: 3px solid transparent;

            }
            /* kad tarpo nebutu, bet jo nereikia, kad nekliudyto logotipo */
            /* a:first-of-type{
                margin-left:0;
            } */
            /* jeigu tik paskutinis is saraso kitoks reikia taip rasyti */
            a:last-of-type{
                /* borderio paramentrai: dydis,tipas,spalva */
                /* tipai stadionas arba kiausinis */
                border-radius: 21px;
                /*Kad nereiktu rasyti taip:
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 0px;
                padding-bottom: 0px;
                Rasau taip kaip apacioje, pagal laikrodzio rodykle
                 */
                /* padding: 0px 20px 0px 20px; */
                border-color: #9E9E9E;
                text-transform: uppercase;
            }
         
    #main{
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
            }
            #note{
                display: inline-block;
                /* nes tarpelis su paveiksliuku yra, tai todel ne 50 */
                width: 40%;
                float: left;
                margin-top: 100px;
                color: #9E9E9E;
            }
                h1{
                
                font-size: 120px;
                font-family:monospace;
                font-variant-numeric: slashed-zero;
                margin-bottom: 0;
                }
                p{
                font-size:30px;
                font-family:monospace;
                
                margin-top: 0;
            }
            /* reikia nurodyti, kad paveiksliukas butent pat tevui priklauso */
                main>img{
                width: 47%; 
                display: inline-block;
                float: left;
                
                }
